# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Env (giữ .env.example)
backend/.env
frontend/.env

# TypeScript
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Wrangler / Cloudflare
.wrangler/
